.input {
  height: 2.6em;
  display: flex;
  justify-content: flex-end;
  font-family: Digital-7;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  background-color: #8fbc8f;
  color: white;
  padding: 0.5em;
  outline: 1px solid #888888;
}

/* Input on calculator css */
